/node_modules
/routes/development.php
/resources/views/pages/dev
/public/fonts
/public/img
/public/images
/public/hot
/public/storage
/public/js/app.js.LICENSE.txt
/public/js/admin.js.LICENSE.txt
/public/css/app.css.map
/public/css/app.css
/public/js/*.js
/public/js/*.js.map
/public/css/admin.css.map
/public/css/admin.css
/public/mix-manifest.json
/storage/*.key
storage/framework/laravel-excel
/vendor
/.idea
.env
.env.backup
.env.artisan
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/dev.sqlite
/.php_cs.cache
ray.php
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

/.phpstorm.meta.php
/.phpunit.result.cache
/_ide_helper.php
/_ide_helper_models.php
